body {
  background-color: rgb(254, 252, 240);
  font-weight: bold;
}

img {
  max-width: 100%;
  height: auto;
}

.payment-container {
  max-width: 220px;
  height: 95px;
  margin: 10px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px dashed black;
}

.payment-container > div > div {
  font-size: 12px;
}

.back-payment-style {
  background-color: rgb(249, 222, 145);
}

.color-payment-date-rezult {
  color: rgb(133, 85, 75);
}

.card-style {
  position: absolute;
  top: 0;
  right: 0;
}

.margin-button-submit {
  margin: 20px 0;
}
